.btn {
    box-sizing: border-box;
    padding: 10px;

    font-weight: 700;
    font-size: 14px;

    border-radius: 50px;
    border: 2px solid transparent;

    outline: none;
    cursor: pointer;

    text-align: center;
    transition: t-default;

    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    &:active {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    }

    &--send {
        border-radius: 0px 50px 50px 0px;
        background-color: c-green-dark;
        color: c-white;

        height: 40px;
        line-height: 18px;
        
        text-transform: uppercase;
        float: left;
    }
}