.title {
    font-size: 16px;
    margin: 5px 0px;
    color: c-black;

    &--1 {
        color: c-green-dark;
        font-size: font-2x;
        margin: 15px 0px;
        text-align: center;
    }
}